@import "normalize.css";

body {
    width: 100%;
}
.wrapper {
    display: grid;
    width: 100vw;
    height: 100vh; 
    grid-template-rows: 17% 30% 36% 17%; 
    font-weight: bold;
    text-align: center;
}
header {
    background-color: #d4d3ce;
    grid-area: 1 / 1 / 2 / 5;
}

main {
    background-color: #FFFFE0;
    grid-area: 2 / 1 / 4 / 4;
}

.wrapper2 {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;
    justify-content: center;
}

.item {
    background-color: #FFE4B5;
    height: 10vh;
}

.item1 {
    grid-area: 4 / 1 / 4 / 3;
    margin-left: 0.1vw;
}

.item2 {
    grid-area: 4 / 3 / 4 / 5;
}

.item3 {
    grid-area: 5 / 1 / 6 / 5;
}

aside {
    background-color: #AFEEEE;
    grid-area: 2 / 4 / 5 / 5;
}

footer {
    background-color: #d4d3ce;
    grid-area: 4 / 1 / 5 / 5;
}

.footer__items {
    display: grid;
    grid-template-rows:  1fr;
    grid-gap: 0.1vw;
    justify-content: center;
    align-items: center;
}
.footer__item {
    background-color: #fff;
    height: 10vh;
    width: 15vw;
}

.item4 {
    grid-column: 1 / 2;
    margin: 5px;
}

.item5 {
    grid-column: 2 / 3;
    margin: 5px;
}

.item6 {
    grid-column: 3 / 4;
    margin: 5px;
}

.item7 {
    grid-column: 4 / 5;
    margin: 5px;
}